@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}

/* Nav bar */
nav{
  margin-bottom: 80px;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: rgb(56, 56, 232);
  color: white;
  width: auto;
  height: 45px;
  font-size: 1.5rem;
}

/* Left Container */

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.line{
   height: 3px ;
   width: 0vw;
   position: absolute;
   background:  linear-gradient(to Right,#e24997,#2d2ed4);
   transition: 1s ease-in-out;

}

.Box {
  border: 2px solid black;
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Utilities Classes */

.top{
  border-top: 0;
}
.bottom{
  border-bottom: 0;
}
.left{
  border-left: 0;
}
.right{
  border-right: 0;
}

.Box:hover {
  background-color: rgb(231, 86, 86);
  cursor: pointer;
}

.Left-Container {
  display: grid;
  grid-template-rows: repeat(3, 8vw);
  grid-template-columns: repeat(3, 8vw);
  margin: 0 1rem;

}
 
/* Right Container */

.Right-Container {
  padding: 0 34px;
}
.info{
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(252, 80, 109);
}

.btn{
  padding: 5px;
  border-radius: 9px;
  width: 90px;
  font-size: 20px;
  border-color: aliceblue;
  background:  linear-gradient(to Right,#e24997,#2d2ed4);
  font-family: cursive;
  color: whitesmoke;
}

.sb{
  display: flex;
  justify-content: space-between;
}
